<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Tableau de bord du Port de Russell</title>
  <style>
    table { border-collapse: collapse; width: 100%; margin-bottom: 20px; }
    th, td { border: 1px solid #333; padding: 8px; text-align: left; }
    th { background-color: #eee; }
    h2 { margin-top: 30px; }
  </style>
</head>
<body>
  <h1>Bonjour <%= username %>, bienvenue sur le tableau de bord !</h1>

  <h2>Catways</h2>
  <table>
    <thead>
       <tr>
      <th>Numéro</th>
      <th>Type</th>
      <th>Etat</th>
      <th>Actions</th>
    </tr>
    </thead>
   <tbody>
     <% catways.forEach(c => { %>
      <tr>
        <td><%= c.catwayNumber %></td>
        <td><%= c.catwayType %></td>
        <td><%= c.catwayState %></td>
        <td>               
          <a href="/catways/<%= c._id %>/edit">Modifier</a>
          <form action="/catways/<%= c._id %>/delete" method="POST" style="display:inline;">
            <button type="submit">Supprimer</button>
          </form>
        </td>
         </tr>
        <% }) %>
   </tbody>
  </table>

<h2>Mes réservations</h2>
<table>
    <thead>
        <tr>
            <th>Catway</th>
            <th>Client</th>
            <th>Bateau</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% reservations.forEach(reservation => { %>
        <tr>
            <td><%= reservation.catwayNumber %></td>
            <td><%= reservation.clientName %></td>
            <td><%= reservation.boatName %></td>
            <td><%= reservation.startDate.toISOString().slice(0, 10) %></td>
            <td><%= reservation.endDate.toISOString().slice(0, 10) %></td>
            <td>
                <a href="/reservations/<%= reservation._id %>/edit">Modifier</a>
                <form action="/reservations/<%= reservation._id %>/delete" method="POST" style="display:inline;">
                  <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

 
</body>
</html>

