<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Modifier un catway</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header class="header-hero">
    <div class="header-overlay">
      <h1>Port de Russell</h1>
      <p>Bienvenue sur la page du port de Russell</p>
    </div>
  </header>

  <main>
    <section>
      <h1>Modification d'un catway</h1>

  <form action="/catways/<%= catway._id %>/edit" method="POST">
    <table>
      <tbody>
        <tr>
          <th>Numéro du catway</th>
          <td>
            <input
              type="number"
              name="catwayNumber"
              value="<%= catway.catwayNumber %>"
              readonly>
          </td>
        </tr>
    </section>
    
    <section>
      <tr>
          <th>Type de catway</th>
          <td>
            <select name="catwayType" required>
              <option value="short" <%= catway.catwayType === 'short' ? 'selected' : '' %>>
                Short
              </option>
              <option value="long" <%= catway.catwayType === 'long' ? 'selected' : '' %>>
                Long
              </option>
            </select>
          </td>
        </tr>
    </section>

    <section>
      <tr>
          <th>État du catway</th>
          <td>
            <input
              type="text"
              name="catwayState"
              value="<%= catway.catwayState %>"
              required
            >
          </td>
        </tr>
      </tbody>
    </table>
    </section>
        
    <button type="submit"> Enregistrer</button>
    <a href="/dashboard">
      <button type="button"> Annuler</button>
    </a>
  </form>
  </main>
</body>
</html>
