<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Modifier une réservation</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <h1>Modification d'une réservation</h1>

  <form action="/reservations/<%= reservation._id %>/edit" method="POST">
    <table>
      <tbody>
        <tr>
          <th>Catway</th>
          <td>
            <input
              type="number"
              name="catwayNumber"
              value="<%= reservation.catwayNumber %>"
              required
            >
          </td>
        </tr>

        <tr>
          <th>Client</th>
          <td>
            <input
              type="text"
              name="clientName"
              value="<%= reservation.clientName %>"
              required
            >
          </td>
        </tr>

        <tr>
          <th>Bateau</th>
          <td>
            <input
              type="text"
              name="boatName"
              value="<%= reservation.boatName %>"
              required
            >
          </td>
        </tr>

        <tr>
          <th>Date de début</th>
          <td>
            <input
              type="date"
              name="startDate"
              value="<%= reservation.startDate.toISOString().slice(0,10) %>"
              required
            >
          </td>
        </tr>

        <tr>
          <th>Date de fin</th>
          <td>
            <input
              type="date"
              name="endDate"
              value="<%= reservation.endDate.toISOString().slice(0,10) %>"
              required
            >
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit">Enregistrer les modifications</button>
      <a href="/dashboard">
    <button type="button">Annuler</button>
    </a>
  </form>

</body>
</html>
