<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Réservations</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

   <header class="header-hero">
    <div class="header-overlay">
      <h1>Port de Russell</h1>
      <p>Bienvenue sur la page du port de Russell</p>
    </div>
  </header>
  
  <main>
    <h1>Liste des Réservations</h1>
  <table>
    <thead>
      <tr>
        <th>Catway</th>
        <th>Client</th>
        <th>Bateau</th>
        <th>Date début</th>
        <th>Date fin</th>
      </tr>
    </thead>
    <tbody>
      <% reservations.forEach(r => { %>
        <tr>
          <td><%= r.catwayNumber %></td>
          <td><%= r.clientName %></td>
          <td><%= r.boatName %></td>
          <td><%= new Date(r.startDate).toLocaleDateString('fr-FR') %></td>
          <td><%= new Date(r.endDate).toLocaleDateString('fr-FR') %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  </main>
  
</body>
</html>
